#number of main textures(HDR color and position map) // this should be first
0
#####################################################
#shader name
neon/neon_shading.glsl
#global size
width/8
height/8
#texture resolution
width
height
#output texture number
1
#####################################################